#header{
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
}
.menu-selected{
    background-color:blue;
    padding:5px;
    padding-left:30px;
}
.menu-selected>a{
    color:white;
}
.paw-icon{
    margin-left:60px;
    color:white;
}
.sidebar-menu>p:hover{
    background-color:blue;
    padding:5px;
    padding-left:30px;
    transition:1s;
    cursor:pointer;
}
.footerBlog{
    background-image:url("../image/footer-img.png"),linear-gradient(rgb(137, 149, 255) 20%,rgb(152, 226, 255) 50%);
    background-repeat: no-repeat;
    background-position:100% 100%;
    background-size:300px,100%;
    padding-top:15px;
}
.footerBlog>hr{
    border-width:0px;
    border-bottom: 4px dotted;
    width:40%;
    margin: 40px auto 0;
}
.footer-part1{
    display:flex;
    width:76%;
    justify-content: space-between;
    align-items: center;
    padding-left:270px;
}
.footer-slogan{
    margin-left:13px;
    font-size:25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}
#footer-email{
    width:220px;
}
#footer-btn,#footer-email{
    padding: 10px;
    margin-top:20px;
}
.footer-missout{
    font-size:30px;
    font-weight:bold;
}
.footer-part2{
    display:flex;
    justify-content: space-around;
    width:90%;
    padding: 30px 0 20px;
}
.footer-list>li{
    margin:5px;
}
.footer-contactIcon *{
    margin:10px 30px 0 0 ;
}
.footer-subject{
    font-size:22px;
    font-weight:bold;
}
.footer-part3{
    display:flex;
    padding:10px;
    background-color:black;
    align-items: center;
    justify-content: space-between;
}
.footer-part3 *{
    color:white;
}
.footer-services{
    margin-left:40px;
    font-size:12px;
}
.footer-copyright{
    margin-left:580px;
    font-size:12px;
}
.footer-backtotop{
    margin-left:30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer-icon-backtotop{
    font-size:35px;
    margin-left:10px;
}